.gradle/
.idea/
gradle/
libs/
src/
build.gradle
docker-compose.yaml
gradlew
settings.gradle
deliverables/

build/classes
build/jacoco
build/jacocoHtml
build/reports
build/resources
build/test-results
build/tmp